{% extends '../general/base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/style.css' %}" rel="stylesheet">
        <title>Create patient page</title>
    </head>
		<body class="patient_body">
			<section>
				<div class="container">
					<div class="row my-5">
						{% for o in object_list %}
							<div class="card col-md-6 col-sm-12 d-flex flex-column">
								<div class="row">
									<div class="col-12 d-flex justify-content-start">
										<label class="plain_text">
											Клетка #{{o.pk}}
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-12 d-flex justify-content-start">
										<label class="plain_text">
											Тип: {{o.type_name}}
										</label>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="col-12 mb-5 d-flex justify-content-center">
							<button type="button" class="btn btn-primary btn-block itd_enter_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
								Добавление нового типа клетки
							</button>
						</div>
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<form method="POST" novalidate>
										{% csrf_token %}
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Добавление нового типа клетки</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
									</div>
									<div class="modal-body">
										<div class="row px-4">
											<div class=" col-12 d-flex flex-column">
												<label class="plain_text reg_label">Название типа </label>
												<input class="form-control mb-3" type="text" name="type_name">

												{% if form.type_name.errors %}
												<div class="alert alert-danger alert-dismissible fade show" role="alert">
													  <div>Введите корректный название типа клетки!</div>
													  <button type="button" class="btn-close btn-lg float-end" data-bs-dismiss="alert" aria-label="Закрыть"></button>
												</div>
												{% endif %}
											</div>
										</div>
									</div>
									<div class="modal-footer d-flex justify-content-start ps-4">
										<button type="submit" class="btn btn-primary btn-block itd_enter_btn">Создать</button>
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
									</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
			{% endblock content%}

    </body>
</html>

