{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/style.css' %}" rel="stylesheet">
        <title>Login page</title>
    </head>
    <body>
        <header class="my_header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-1 my-2 logo">
                        <a class="picture-link" href="{% url 'home' %} ">
                            <img src="{% static 'pictures/main_logo.png' %}" class="bi me-2" width="60" height="60" alt="MainLogo">
                        </a>
                    </div>
                    <div class="col-8 my-2 additional d-flex align-items-center justify-content-start">
                        <a  class="change-color-link me-4" href="{% url 'add_patient' %}">Добавление нового пациента</a>
                        <a  class="change-color-link me-4" href="{% url 'add_diagnosis' %}">Добавление нового диагноза</a>
                        <a  class="change-color-link me-4" href="{% url 'add_image' %}">Добавление нового изображения</a>
                        <a  class="change-color-link me-4" href="{% url 'add_cell_type' %}">Добавление нового типа клетки</a>
                        <a  class="change-color-link" href="{% url 'add_medication' %}">Просмотр добавленных препаратов</a>
                    </div>
                    <div class="col-3 my-2 panel plain_text d-flex justify-content-end align-items-center">
                        {% if not user.is_anonymous %}
                            {% if user.is_admin %}
                                <a  href="{% url 'admin:index'  %}"><button type="button" class="btn btn-outline-primary itd_shap_btn me-2">Админ панель</button></a>
                            {% endif %}
                            <a  href="{% url 'profile' user.username %}"><button type="button" class="btn btn-outline-primary itd_shap_btn me-2">Профиль</button></a>
                            <a  href="{% url 'logout'  %}"><button type="button" class="btn btn-outline-primary itd_shap_btn me-2">Выйти</button></a>
                        {% else %}
                            <a  href="{% url 'login'  %}"><button type="button" class="btn btn-outline-primary itd_shap_btn me-2">Войти</button></a>
                            <a  href="{% url 'signup'  %}"><button type="button" class="btn btn-outline-primary itd_shap_btn me-2">Зарегистрироваться</button></a>
	                    {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block content %} {% endblock %}
    </body>
</html>